.coupontooltip {
    display: block;
    background: #C8C8C8;
    margin-left: 28px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    overflow: scroll;   
    width:400px;
    /*height:100px;*/
}
